<section class="hero is-info ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Events
      </h1>
    </div>
  </div>
</section>
<section class="hero  is-white">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-desktop">
          <h2 class="title">  Events <div class="tag"><%= Event.all.count%></div> </h2>
        </div>
        <div class="column is-desktop has-text-right">
           <%= link_to 'Create a new event', new_event_path,class: 'button is-primary ' %>
        </div>
      </div>
      
      <div class="columns is-multiline">
        <% Event.all.each do |event| %>
          <div class="column is-12 is-4-desktop">
            <div class="card event">
                        
                <div class="card-content">
                    
                    <div class="content">
                        <p class="title">
                            <%= event.name %>
                        </p>         
                    <div class="subtitle is-size-6">
                        <strong><%= event.date.strftime("%Y/%m/%d") %> at <%= event.venue %></strong>
                        
                    </div>
                    <div class="has-text-right">

                            <%= link_to 'Read more', event_path( event),class: 'button is-link is-light is-small' %>
                        </div>
                    </div>
                </div>

            </div>
          </div>
        <% end %>
        <% if Event.all.count ==0%>
            <div class="column">
                <article class="message is-warning">
                    <div class="message-body">
                        There is no event yet.
                    </div>
                </article>
            </div>
        <%end%>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="columns">
    <div class="column is-6-desktop">
      <section class="hero  is-light">
        <div class="hero-body">
          <div class="container">
            <h2 class="title"> Upcoming Events</h2>
            <div class="columns is-multiline">
              <% Event.upcoming.each do |event| %>
                <div class="column is-12-desktop">
                  <div class="card event">
                        
                    <div class="card-content">
                        
                        <div class="content">
                            <p class="title">
                                <%= event.name %>
                            </p>         
                        <div class="subtitle is-size-6">
                            <strong><%= event.date.strftime("%Y/%m/%d") %> at <%= event.venue %></strong>
                            
                        </div>
                        <div class="has-text-right">

                                <%= link_to 'Read more', event_path( event),class: 'button is-link is-light is-small' %>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
              <% end %>
              <% if Event.upcoming.count ==0%>
                <div class="column">
                    <article class="message is-warning">
                        <div class="message-body">
                            There is no upcoming events yet.
                        </div>
                    </article>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="column is-6-desktop">
      <section class="hero  is-light">
        <div class="hero-body">
          <div class="container">
            <h2 class="title"> Past Events</h2>
            <div class="columns is-multiline">
              <% Event.past.each do |event| %>
                <div class="column is-12-desktop">
                  <div class="card event">
                        
                    <div class="card-content">
                        
                        <div class="content">
                            <p class="title">
                                <%= event.name %>
                            </p>         
                        <div class="subtitle is-size-6">
                            <strong><%= event.date.strftime("%Y/%m/%d") %> at <%= event.venue %></strong>
                            
                        </div>
                        <div class="has-text-right">

                                <%= link_to 'Read more', event_path( event),class: 'button is-link is-light is-small' %>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
              <% end %>
              <% if Event.past.count ==0%>
                <div class="column">
                    <article class="message is-warning">
                        <div class="message-body">
                            There is no past events yet.
                        </div>
                    </article>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



