<section class="hero is-info ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        New Event
      </h1>
    </div>
  </div>
</section>
<section class="hero  ">
  <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column is-6-desktop">
            <% if @event.errors.any? %>
              <div class="notification is-danger is-light">
              <p>The form has the following <%= pluralize(@event.errors.count, 'error')%></p>
                <ul>
                <% @event.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
              <div class="card">
                <div class="card-content">
        
                  <div class="content">
                    <%= form_for(:event) do |f| %>
          
                      <div class = "field">
                        <%= f.label :name,class: 'label' %>
                        <p class="control">
                          <%= f.text_field :name, class: 'input' %>
                        </p>
                      </div>

                      
                
                      <div class = "field">
                        <%= f.label :description,class:'label' %>
                        <p class="control">
                          <%= f.text_area :description, class: 'input' %>
                        </p>
                      </div>
                      <div class = "field is-horizontal">
                        <div class = "field-body ">
                          
                        </div>
                      </div>
                      <div class = "field">
                            <%= f.label :date,class:'label' %>
                            <p class="control">
                              <%= f.date_field :date, class: 'input' %>
                            </p>
                          </div>
                          <div class = "field">
                            <%= f.label :venue,class:'label' %>
                            <p class="control">
                              <%= f.text_field :venue, class: 'input' %><br />
                            </p>
                          </div>
                      
                      <div class="field">

                        <%= f.submit "Create Event", class: "button is-primary is-block" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <%= image_tag 'undraw_events_2p66.svg' %>
            </div>
   
       
    </div>
   
  </div>
</section>
