<%= render '/shared/navbar'%>

<h1>This is the User page</h1>

<table class="table">

    <tr>
        <td>User Name:</td>
        <td> <%= @user.username %></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td> <%= @user.email %></td>
    </tr>
    <tr>
        <td>Created at:</td>
        <td> <%= @user.created_at %></td>
    </tr>

</table>



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="true">Organized Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="attending-tab" data-toggle="tab" href="#attending" role="tab" aria-controls="attending" aria-selected="false">Attending Events </a>
  </li>
 
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">
    <% @user.event.each do | event|%>
        <div class="card border-light mb-3">
            <div class="card-body">
                <h3><%= event.name %></h3>
                <p>
                    <%= event.description%>
                </p>
                <div class="badge badge-primary">
                    Venue: <%= event.venue %>
                </div>
                <div class="badge badge-success">
                    Date: <%= event.date %>
                </div>
            </div>
        </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="attending" role="tabpanel" aria-labelledby="attending-tab">
       
            <% @user.attended_event.each do |event|%>
                <div class="card border-light mb-3">
                    <div class="card-body">
                        <h3><%= event.name %></h3>
                        <p>
                            <%= event.description%>
                        </p>
                        <div class="badge badge-primary">
                            Venue: <%= event.venue %>
                        </div>
                        <div class="badge badge-success">
                            Date: <%= event.date %>
                        </div>
                    </div>
                </div>
            <% end %>
       
  </div>
</div>